<div class="container">
    <div class="overlay">
        <div class="block">
            <div>
                <img src="assets/png/404.png">
            </div>
            <div class="header">Lost your way?</div>
            <div class="message">Oops! This is awkward. You are looking for something doesnt actually exist</div>
            <div><app-custom-button [routerLink]="['/cinema/movies']" [logo]="[true,false]" buttonLabel="Go Home" type="primary"></app-custom-button></div>
        </div>
    </div>
</div>