@import "src/assets/styles/variables";

$height: 60px;

.top-navbar {
    background-color: $grey-dark;
    @include text-link1();
    height: $height;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    width: 450px;
    div {
        height: 100%;
        padding: 15px 40px;
    }
}

.logo-png {
    height: 90%;
    margin: 5%;
}

.links {
    display: flex;
    align-items: center;
    div {
        height: 100%;
        padding: 0px 40px;
        cursor: pointer;
        display: table;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        span {
            display: table-cell;
            vertical-align: middle;
        }
    }
    div:hover {
        background: $form-overlay-back;
    }
}

.active-route {
    background: $form-overlay-back;
}

.overlay {
    width: 1500px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    @include text-link1();
    height: $height;
}

mat-icon {
    position: relative;
    top: 2px;
    left: -4px;
}