.overlay {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
}

.container {
    display: flex;
    justify-content: center;
}

.button-margin {
    margin: 35px;
}