
<div class="containerr">
    <div class="overlay">
        <app-custom-search [logos]="searchTypes.Left" labelInput="Search Movies"></app-custom-search>
    </div>
</div>
<div class="containerr">
    <div class="overlay">
        <ng-container *ngFor="let card of cards">
            <app-movie-card [isAuth]="isAuth()" [inFavs]="checkFavs(card)" [movie]="card" class="cards"></app-movie-card>
        </ng-container>
        <ng-container *ngIf="!cards.length">
            <ng-container *ngFor="let item of mock">
                <app-movie-card [fakeCard]="true" class="cards"></app-movie-card>
            </ng-container>
        </ng-container>
    </div>
</div>
<div>

<div *ngIf="cards.length" class="containerr">
    <div class="overlay">
        <div class="button-margin">
            <app-custom-button (click)="loadNewItems()" buttonLabel="Load more" [colors]="customColors.primary" [type]='customTypes.Double'></app-custom-button>
        </div>
    </div>
</div>



