@import "src/assets/styles/variables";

.navbar {
    background-color: $grey-dark;
    @include text-link1();
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    align-items: center;
    width: 450px;
    div {
        height: calc(100% - 30px);
        padding: 15px 40px;
    }
}

.logo-png {
    height: 90%;
    margin: 5%;
}

.links {
    display: flex;
    align-items: center;
    div {
        height: calc(100% - 30px);
        padding: 15px 40px;
        cursor: pointer;
    }
    div:hover {
        background: $form-overlay-back;
    }
}

.active-route {
    background: $form-overlay-back;
}

.overlay {
    width: 1500px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    @include text-link1();
    height: 60px;
}