<ng-container *ngIf="!fakeCard">
    <div class="movie-card">
        <div class='image-block-overlay'>
            <div [routerLink]="way + movie.id" [style.backgroundImage]="'url('+ url.image + movie.poster_path +')'" class='image-block pointer'>
                <div class="image-overlay">
                    <div class="rate-block">
                        <mat-icon svgIcon="ic-star"></mat-icon>
                        <div>{{movie.vote_average}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc-block">
            <div class="description">{{movie.name}}</div>
            <ng-container *ngIf="isAuth">
                <ng-container *ngIf="!inFavs">
                    <div class="add-to-list primary"><mat-icon svgIcon="ic-add"></mat-icon>Add to my list</div>
                </ng-container>
                <ng-container *ngIf="!inFavs">
                    <div class="add-to-list green"><mat-icon svgIcon="ic-video-tick"></mat-icon>Already watched</div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="fakeCard">
    <div class="movie-card">
        <div class='image-block-overlay'>
            <div class='image-block'>
                <div class="fake-image-overlay">
                    <div class="rate-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="description"></div>
    </div>
</ng-container>


