<div class="movie-card">
    <div class='image-block-overlay'>
        <div [routerLink]="way + movie.id" [style.backgroundImage]="'url('+ url.image + movie.poster_path +')'" class='image-block'>
            <div class="image-overlay">
                <div class="rate-block">
                    <mat-icon>star_border</mat-icon>
                    <div>{{movie.vote_average}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="description">{{movie.name}}</div>
    
    <div class="add-to-list">+ Add to my list</div>
</div>


